{% extends "base.template.html" %}

{% block content %}

{% block header %}
<header class="api-profile-header">
    <h1 class="api-profile-header-heading">{$ doc.name $}</h1>
    <ol class="api-profile-header-structure naked-list step-list">
        {% block related_components %}{% endblock %}
        <li>
            - {$ doc.docType $} in module {$ doc.moduleDoc.id | link(doc.moduleDoc.name, doc.moduleDoc) $}
        </li>
    </ol>
</header>
{% endblock %}

{% block description %}
<div class="api-profile-description">
    {$ doc.content | marked $}
</div>
{% endblock %}

<div>
    {% block additional %}
    {% endblock %}
</div>

{% endblock %}
